*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body
{
    background:url("../assets/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/* container */

.container
{
    /* width:100vw; */
    height:auto;
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top:50px;
    flex-wrap: wrap;
}

.premium-container
{
    width:70vw;
    min-width:280px;
    
}
.most-valued-container
{
    width:25vw;
    min-width:280px;
}

.premium-container,.most-valued-container
{
    min-height:400px;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0px 0px 22px 0px #cfcfcf;
    position: relative;
}

.sub-header
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sub-header input
{
    text-align: center;
    padding:8px 0px;
    padding-left:30px;    
    border:none;
    /* background:#f7f7f7; */
    outline:none;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 0px 8px 1px #f0f0f0;
}

.sub-header input::placeholder
{
    color:#cdcecf;
}

.sub-header button
{
  
    background:white;
    outline:none;
    border:none;
    cursor: pointer;
    
}

.send-icon
{
    width:25px;
    height:auto;
}

input::-webkit-calendar-picker-indicator {
    opacity:1;
    color:#252796;
    margin-right:30px;
    padding:0px;
  }




.sub-heading
{
    padding:20px;
}

.sub-heading h2
{
    color:#aca9a9;
}

.sub-heading h2 span
{
    color:#8d79eb;
    /* color:#ffc401; */
    color:#36128a;
}






.free-nav span
{
    background:#36128a;
    padding:5px 15px;
    border-radius: 20px;
}
.free-nav
{
    text-decoration: none;
    color:#fff;
    
}



.free-nav i
{
    font-size: 16px;
    color:#e9e5f8;
}

.edit-suggestion a
{
    text-decoration: none;
    color:#5e5e5e;
}

/* Book card styles */
.book-container
{
    padding-left:30px;
    padding-top: 40px;
    padding-right:30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.book-card
{
    position:relative;
    width:250px;
    height:300px;
    padding:20px;
    border-radius: 15px;
    margin: 10px;
}

.book-heading
{
    text-align: center;
    font-size: 15px;
    color:#4b4b4b;
    height:50px;
    padding:0px 5px;
}

.book-thumbnail
{
    display:flex;
    height:100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.book-thumbnail img
{
    width:100px;
    height:100px;
    
    border-radius: 50%;
}

.book-thumbnail h4
{
    color:#727272;
}

.book-thumbnail h4 span
{
    color:#a1a1a1;
}


.book-checkout
{
    margin-top: 30px;
    text-align: center;
}

.book-checkout a
{
    text-decoration: none;
    background:#2d037c;
    color:white;
    border-radius: 30px;
    padding:8px 30px;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.book-checkout a:hover
{
    background:#272727;
}

.book-spec
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width:250px;
    margin-left: -20px;
}

.book-spec div
{
    text-align: center;
    position:relative;
}

.book-spec p
{
    font-size: 12px;
    transition: .3s ease-in-out;
}

.book-spec a
{
    text-decoration: none;
}


.book-spec a i
{
    font-size: 20px;
    color:#272727;
    transition:.3s ease-in-out;
}

.book-spec a i:hover
{
    color:#aaaaaa;
}

.book-spec div:hover >   p
{
    font-weight: 1000;
}



.premium-container h2{
    text-align: center;
    margin-top: 20px;
    color:#543be2;
    font-size: 20px;
}

.ticket-form
{
    text-align: center;
}
.ticket-form textarea
{
    max-width: 600px;
    width:80vw;
    margin-top: 30px;
    border-radius: 5px;
    resize: none;
    border:1px solid #a4a6ad;
    outline:none;
    padding:20px;
    transition: .3s ease-in-out;
    border-radius: 10px;

    
}

.ticket-form textarea::-webkit-input-placeholder
{
    color:#b9b3da;
}

.ticket-form textarea:focus
{
    border:1px solid #543be2;
}

.ticket-form button
{
    margin-top: 8px;
    padding: 11px 32px;
    background:#300daf;
    color:white;
    border-radius: 5px;
    transition: .4s ease-in-out;
    outline:none;
    border:none;
    cursor: pointer;

}

.ticket-form button:hover
{
    background:#252525;
}



.textarea-count
{
    margin-left: 200px;
    font-size: 12px;
    font-weight: 500;
    color:#159704;
}


/* footer */
footer
{
color:#cdd4fd;
position: fixed;
bottom:0px;
padding:2px 0px;
font-size: 14px;
width:100vw;
text-align: center;
background:#000000;

}

footer span
{
    color:#727272;
}

footer .quote p
{
    color:#7259df;
    margin-bottom: 5px;
}


.close-nav, .mobile-menu
{
    display:none;
}


.book-author {
    text-align: right;
    width: 100%;
    color: #a4a4a5;
    font-size: 10px;
}


@media screen and (max-width:1000px) 
{

    body
    {
        background:url("../assets/bg-mob.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

header nav
{
   width:100vw;

}




    .container
    {
        width: 99vw;
     
        
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .premium-container
{
    
    width:90vw;
    min-width:280px;
    
}


.most-valued-container
{
    width:90vw;
    min-width:280px;
    margin-top: 50px;
}

.sub-header, .sort-by-cat, .sort-by
{
    width:80vw;
    text-align: center;
}

.sort-by-cat
{
    margin:20px 0px;
}

.sub-header button
{
   margin-top: 20px;
}

.main-menu nav
{
    display: none;
}
.close-nav
{
    color:white;
    position: absolute;
    z-index: 3;
    background:transparent;
    outline:none;
    top:10vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 30px;
    width:60px;
    height:60px;
    border:1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.main-menu nav
{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0px;
    background: #000000f6;
    z-index: 9;
   

}

.main-menu ul
{
    
    list-style:none;
    color:#353131;
    display:flex;
    height:70vh;
    align-items: bottom;
    margin-top: 20vh;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 9;
   
}

.main-menu ul li 
{
    width:100vw;
    margin: 0px;
    text-align: center;
}

.main-menu ul a
{
    color:white;
}

.main-menu ul a:hover{
    color:#a8a8a8;
}

.main-menu ul a div.hover
{
    display: none;
}




.mobile-menu
{
    display: block;
    position: absolute;
    left:30px;
    border:none;
    outline:none;
    background:transparent;
    font-size: 30px;
    cursor: pointer;
    color:#292929;
}






}