@{
    Layout ="../../Shared/"+ViewBag.layoutName;
}

   <section class="container">
        <div class="premium-container">
           <h3>Who we are <span>?</span></h3>
           <div>
               <p>Backbone of this application is our Team. Which manages all the functionalities and 
                   mantainance of the application. We are trying to build a cool and handy environment for 
                   all reader. We will make application much better. Keep Reading and Keep Earning.
               </p>
           </div>
           <a class="contactUs" href="mailto:readme.org.udp@gmail.com">Contact us Here </a>
        </div>
    </section>