@{
    Layout ="../../Shared/"+ViewBag.layoutName;
}

    <section class="container">
        <div class="premium-container">
           <h3>Terms<span> and </span>Conditions</h3>
           <div>
               <p>
                This Application is E-Commerce site so anything which is related to hacking or 
                scamming users and application, we will take particular action on that.
               </p>
               <p>
                   We will use you data to give you more user friendly touch and recommendations.
               </p>
               <p>
                   If the majority of the resources are fake, we will inactivate you account permanently.
                </p>
                <p>
                    Hereby you are agreeing to above Terms and Conditions.
                </p>

           </div>
        </div>
    </section>